{% extends "Main/Main/index.html" %}

{% load static %}

{% block content %}

<div class="container-verPlus">
    <div class="vr-encabezado">
        <div class="vr-fila-1">
            <div class="vr-col-8">
                <div class="vr-fecha-desde">
                    <span>Desde:</span>
                    <input type="date" onclick="this.showPicker();" id="vr-fecha-desde" class="vr-input">
                </div>
            </div>
            <div class="vr-col-2">
                <select id="selector_mercado" class="choices_inner vr-select">
                </select>
            </div>
            <div class="vr-col-2">
                <select id="selector_cliente" class="choices_inner vr-select">
                </select>
            </div>
            <div class="vr-col-2">
                <select id="selector_especie" class="choices_inner vr-select">
                </select>
            </div>
            <div class="vr-col-2">
                <button class="vr-button" id="busqueda-button">Buscar</button>
            </div>
        </div>
        <div class="vr-fila-2">
            <div class="vr-col-8">
                <div class="vr-fecha-hasta">
                    <span>Hasta:</span>
                    <input type="date" onclick="this.showPicker();" id="vr-fecha-hasta" class="vr-input">
                </div>
            </div>
            <div class="vr-col-2">
                <select id="selector_variedad" class="choices_inner vr-select">
                </select>
            </div>
            <div class="vr-col-2">
                <select id="selector_marca" class="choices_inner vr-select">
                </select>
            </div>
            <div class="vr-col-2">
                <select id="selector_envase" class="choices_inner vr-select">
                </select>
            </div>
            <div class="vr-col-2">
                <select id="selector_calibres" class="choices_inner vr-select" multiple>
                </select>
            </div>
        </div>
    </div>

    <div class="vr-contenedor-data">
        <div class="vr-datos-encabezado" id="id-vr-datos-totales">

        </div>
        <div class="vr-datos-tabla" id="id-contenedor-empresas">
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{%static 'GM/js/verPlus/verPlus.js' %}"></script>

    {% endblock %}